@inherits LayoutComponentBase
<div class="container">
<header>
    <NavLink href="/" Match="NavLinkMatch.All">Moment 1.2 <br /> <span>Webbutveckling med <span>.NET</span> </span>
    </NavLink>
</header>

    <NavMenu />

    <main role="main" class="">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    Av Kajsa Classon &ndash; Kontakta mig via e-post: <a
        href="mailto:kacl1200@student.miun.se">kacl1200@student.miun.se</a>
</footer>