@page "/conversion"

<PageTitle>Konvertering</PageTitle>


<h1>Konvertering</h1>
<p>Här kan du konvertera meter till fot eller kilometer i timmen till miles per hour.</p>

<section>
    <h2>Meter till fot</h2>
    <div id="m-to-ft">
        <div class="conversion-row">
            <div class="input-group">
                <label for="meters">Meter</label>
                <input type="number" min="0" max="9999" step="any" @bind-value="meters">
            </div>
            <p>m</p>
            @if (feet.HasValue)
            {
                <p>är</p>
                <div class="out">
                @feet
            </div>
                <p>fot</p>
            }
        </div>
        @if(feet is null){
            <p class="error">Vänligen ange ett tal mellan 1 och 9999.</p>
        }
        <Button OnClick="ConvertToFeet">Konvertera</Button>
    </div>
</section>

<h2>Km/h till miles/h</h2>

@code {
    private double meters;
    private double? feet;

    private void ConvertToFeet()
    {
        if (meters > 0)
        {
            feet = Math.Round(meters * 3.28084, 2);
        } 
        else if(meters == 0)
        {
            feet = 0;
        }
        else
        {
            feet = null;
        }
    }
}