@page "/"

<PageTitle>Hem</PageTitle>

<h1>Välkommen!</h1>

<p>Denna webbplats är skapad med Blazor för moment 1.2 i kursen Webbutveckling med .NET.
    Här kan du konvertera meter till fot eller km/h till miles/h, samt se väderprognosen för Skellefteå för den närmsta
    veckan.</p>

<h2>Vad är Blazor?</h2>
<p>Blazor är ett ramverk utvecklat av Microsoft som gör det möjligt att bygga interaktiva webbapplikationer med C#
    istället för JavaScript. Det använder sig av WebAssembly för att köra C#-kod direkt i webbläsaren, vilket ger
    utvecklare möjlighet att skriva hela applikationen i samma språk både på server- och klientsidan. Blazor kan köras
    både som en "WebAssembly"-version (där allt körs i webbläsaren) eller som en "Server"-version (där servern hanterar
    logiken och interaktionen sker via SignalR). Blazor förenklar utvecklingsprocessen och gör det möjligt att
    återanvända C#-kod på olika plattformar.</p>
